.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #282626;
    padding: 10px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; 
  }
  
  .navItem {
    font-size: 14px;
    color: #888;
  }
  
  .navItem.active {
    color: #000;
  }
  